<div class="login-page">

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>192102131</b> - RIZKI MAULANA</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
    
            <div action="" method="post">
                <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" id="emailForm">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                    </div>
                </div>
                </div>
                <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" id="passwordForm">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                        Remember Me
                    </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button 
                        type="button"
                        class="btn btn-primary btn-block" 
                        (click)="signIn()"
                        routerLinkActive="router-link-active"
                    >Sign In</button>
                </div>
                <!-- /.col -->
                </div>
            </div>
    
            <div class="social-auth-links text-center mb-3">
                <p (click)="showAlert('login error')">- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
    
            <p class="mb-1">
                <a 
                    [routerLink]="['/dashboard']"
                    routerLinkActive="router-link-active"
                >I forgot my password</a>
            </p>
            <p class="mb-0">
                <a
                    class="text-center"
                    [routerLink]="['/register']"
                    routerLinkActive="router-link-active"
                >Register a new membership</a>
            </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>

<!-- modal gagal login -->
<!-- Modal -->
<div class="modal fade" id="failedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="exampleModalLabel">Peringatan</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span id="errorMessage"></span>
        </div>
        <div class="modal-footer">
          <button (click)="hideModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>